
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Downloader</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>LibGen Book Downloader</h1>
    <div id="access"
        credentials="{{ credentials }}">{{ credentials }}
        
    </div>
    <form id="bookForm">
        <input type="text" id="bookTitle" name="bookTitle" placeholder="Enter Book Title" required><br><br>
        <input type="text" id="authorLastName" name="authorLastName" placeholder="Enter Author's Last Name" required pattern="\w+"><br><br>
        <button id="submit">Get Book</button>
    </form>
    <div id="response"></div>

    <script src="../static/pirating.js" defer></script>
</body>
</html>
